.cube-container {
  position: relative;
  display: flex;
  width: 450px;
  height: 420px;
  pointer-events: auto;
  margin-top: 10px;
}

/* Base cube */
.cube-block {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: skewY(-20deg);
  transition: 0.3s ease;
}

/* Cube Face */
.cube-block span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: 0.3s ease;
}

/* Left Face */
.cube-block span::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 25px;
  height: 100%;
  background: #dcdcdc;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.3s;
}

/* Top Face */
.cube-block span::after {
  content: "";
  position: absolute;
  top: -25px;
  width: 100%;
  height: 25px;
  background: #f5f5f5;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.3s;
}

/* Hover Effects */
.cube-block:hover span {
  background: #ef4149;
  filter: drop-shadow(0px 0px 25px #ef4149);
}

/* Make tooltip appear */
.cube-block:hover span::after,
.cube-block:hover span::before {
  background: #d42f53;
}

.cube-block:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

.hover-label {
  position: fixed;
  bottom: 130px;
  right: 15px;
  font-size: 10px;
  color: #ef4149;
  opacity: 0;
  transform: translateY(5px);
  transition: 0.25s ease;
  pointer-events: none;
  font-family: "Monaco", "Consolas", monospace;
}

.hover-label.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Blinking cursor */
.cursor {
  display: inline-block;
  width: 10px;
  background: #ef4149;
  animation: blink 0.6s steps(1) infinite;
  margin-left: 3px;
}

@keyframes blink {
  50% {
    background: transparent;
  }
}

.help-icon {
  position: fixed;
  top: 130px;
  right: 35px;
  cursor: pointer;
  color: #ef4149;
  transition: 0.25s ease;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 12px #ef4149);
}

/* Positioning cubes for exact illusion */
.cube-block:nth-child(1) { top: 220px; left: 180px; z-index: 3; }/*about*/
.cube-block:nth-child(3) { top: 225px; left: 260px; z-index: 2; }/*proj*/
.cube-block:nth-child(2) { top: 180px; left: 260px; z-index: 3; }/*skill*/
.cube-block:nth-child(6) { top: 170px; left: 180px; z-index: 3; }/*contact*/
.cube-block:nth-child(4) { top: 245px; left: 220px; z-index: 4; }/*exp*/
.cube-block:nth-child(5) { top: 200px; left: 220px; z-index: 5; }/*cirtificate*/
.cube-block:nth-child(7) { top: 155px; left: 225px; z-index: 2; }/*blog*/
